/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 15, ../_scss/screen.scss */
* { color: #999999; }

/* line 19, ../_scss/screen.scss */
a { color: #c98c58; }
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited { color: #c98c58; }
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus { color: #c98c58; }
/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover { color: #c98c58; }
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active { color: #999999; }

/* line 23, ../_scss/screen.scss */
body { background-image: url('/img/bg-full.jpg?1396817121'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center center; padding-top: 70px; }

/* line 39, ../_scss/screen.scss */
.container { background-color: rgba(0, 0, 0, 0.7); color: #999999; }
