/* line 1, ../_scss/syntax.scss */
.highlight { background: #ffffff; }
/* line 3, ../_scss/syntax.scss */
.highlight .c { color: #999988; font-style: italic; }
/* line 7, ../_scss/syntax.scss */
.highlight .err { color: #a61717; background-color: #e3d2d2; }
/* line 11, ../_scss/syntax.scss */
.highlight .k, .highlight .o { font-weight: bold; }
/* line 14, ../_scss/syntax.scss */
.highlight .cm { color: #999988; font-style: italic; }
/* line 18, ../_scss/syntax.scss */
.highlight .cp { color: #999999; font-weight: bold; }
/* line 22, ../_scss/syntax.scss */
.highlight .c1 { color: #999988; font-style: italic; }
/* line 26, ../_scss/syntax.scss */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }
/* line 31, ../_scss/syntax.scss */
.highlight .gd { color: #000000; background-color: #ffdddd; }
/* line 34, ../_scss/syntax.scss */
.highlight .gd .x { color: #000000; background-color: #ffaaaa; }
/* line 39, ../_scss/syntax.scss */
.highlight .ge { font-style: italic; }
/* line 42, ../_scss/syntax.scss */
.highlight .gr { color: #aa0000; }
/* line 45, ../_scss/syntax.scss */
.highlight .gh { color: #999999; }
/* line 48, ../_scss/syntax.scss */
.highlight .gi { color: #000000; background-color: #ddffdd; }
/* line 51, ../_scss/syntax.scss */
.highlight .gi .x { color: #000000; background-color: #aaffaa; }
/* line 56, ../_scss/syntax.scss */
.highlight .go { color: #888888; }
/* line 59, ../_scss/syntax.scss */
.highlight .gp { color: #555555; }
/* line 62, ../_scss/syntax.scss */
.highlight .gs { font-weight: bold; }
/* line 65, ../_scss/syntax.scss */
.highlight .gu { color: #aaaaaa; }
/* line 68, ../_scss/syntax.scss */
.highlight .gt { color: #aa0000; }
/* line 71, ../_scss/syntax.scss */
.highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr { font-weight: bold; }
/* line 74, ../_scss/syntax.scss */
.highlight .kt { color: #445588; font-weight: bold; }
/* line 78, ../_scss/syntax.scss */
.highlight .m { color: #009999; }
/* line 81, ../_scss/syntax.scss */
.highlight .s { color: #d14; }
/* line 84, ../_scss/syntax.scss */
.highlight .na { color: #008080; }
/* line 87, ../_scss/syntax.scss */
.highlight .nb { color: #0086B3; }
/* line 90, ../_scss/syntax.scss */
.highlight .nc { color: #445588; font-weight: bold; }
/* line 94, ../_scss/syntax.scss */
.highlight .no { color: #008080; }
/* line 97, ../_scss/syntax.scss */
.highlight .ni { color: #800080; }
/* line 100, ../_scss/syntax.scss */
.highlight .ne, .highlight .nf { color: #990000; font-weight: bold; }
/* line 104, ../_scss/syntax.scss */
.highlight .nn { color: #555555; }
/* line 107, ../_scss/syntax.scss */
.highlight .nt { color: #000080; }
/* line 110, ../_scss/syntax.scss */
.highlight .nv { color: #008080; }
/* line 113, ../_scss/syntax.scss */
.highlight .ow { font-weight: bold; }
/* line 116, ../_scss/syntax.scss */
.highlight .w { color: #bbbbbb; }
/* line 119, ../_scss/syntax.scss */
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo { color: #009999; }
/* line 122, ../_scss/syntax.scss */
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx { color: #d14; }
/* line 125, ../_scss/syntax.scss */
.highlight .sr { color: #009926; }
/* line 128, ../_scss/syntax.scss */
.highlight .s1 { color: #d14; }
/* line 131, ../_scss/syntax.scss */
.highlight .ss { color: #990073; }
/* line 134, ../_scss/syntax.scss */
.highlight .bp { color: #999999; }
/* line 137, ../_scss/syntax.scss */
.highlight .vc, .highlight .vg, .highlight .vi { color: #008080; }
/* line 140, ../_scss/syntax.scss */
.highlight .il { color: #009999; }
